@model Sinan.Models.Notificacao

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Notificação</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.suscard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.suscard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agravo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agravo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datenotify)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datenotify)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.us)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.us)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datesynptoms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datesynptoms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pregnant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pregnant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateinv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateinv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.occupation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.occupation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fever)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fever)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.myalgia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.myalgia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.headache)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.headache)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vomit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vomit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nausea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nausea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.backPain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.backPain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.conjunctivitis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.conjunctivitis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.arthritis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.arthritis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.severeArthralgia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.severeArthralgia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.petechiae)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.petechiae)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.leukopenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.leukopenia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pTieproof)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pTieproof)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nTieproof)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nTieproof)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.retroorbitalPain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.retroorbitalPain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diabetes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diabetes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hDiseases)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hDiseases)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.liverDiseases)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.liverDiseases)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ckDisease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ckDisease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hypertension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hypertension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.paDisease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.paDisease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aiDisease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aiDisease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cfSerology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cfSerology)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cfsCollecting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cfsCollecting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cfsStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cfsStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.csSerology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.csSerology)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cssCollecting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cssCollecting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cssStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cssStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prnt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prnt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prntCollecting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prntCollecting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prntStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prntStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dSerology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dSerology)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsCollecting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsCollecting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dsStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dsStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ns1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ns1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ns1Collecting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ns1Collecting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ns1Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ns1Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.insulation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.insulation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.insCollecting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.insCollecting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.insStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.insStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rtpcr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rtpcr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rtpcrCollecting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rtpcrCollecting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rtpcrStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rtpcrStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.serotype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.serotype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.srtSelect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.srtSelect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.alarmingDengue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.alarmingDengue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pHypotension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pHypotension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.plateletsFall)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.plateletsFall)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pVomiting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pVomiting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.scaPain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.scaPain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loIrritability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loIrritability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.moBleeding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.moBleeding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.piHematocrit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.piHematocrit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hge2cm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hge2cm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.iLiquids)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.iLiquids)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.severeDengue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.severeDengue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wuPulse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wuPulse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.convergentbp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.convergentbp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.crTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.crTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.afrInsuficiency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.afrInsuficiency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tachycardia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tachycardia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cExtremities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cExtremities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lsHypotension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lsHypotension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.melena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.melena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bMetrorrhagia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bMetrorrhagia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cnsBleeding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cnsBleeding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.astalt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.astalt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.myocarditis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.myocarditis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aConciousness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aConciousness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aOrgans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aOrgans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.organName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.organName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.patientClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patientClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.recentTravel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.recentTravel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.travelPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.travelPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.goTravel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.goTravel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.backTravel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.backTravel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.visitor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.visitor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eeArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eeArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.areaKnlg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.areaKnlg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pMedication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pMedication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.medName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.medName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pEncaminhation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pEncaminhation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ePlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ePlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.motive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.motive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.iName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.iName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.iUs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.iUs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.iFunction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.iFunction)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="nEdit" asp-route-id="@Model?.Idnotify">Editar</a> |
    <a asp-action="nIndex">Voltar à listagem</a>
</div>
