@model Sinan.Models.Notificacao

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Notificação</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="nEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idnotify" />
            <div class="form-group">
                <label asp-for="Agravo" class="control-label"></label>
                <input asp-for="Agravo" class="form-control" />
                <span asp-validation-for="Agravo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datenotify" class="control-label"></label>
                <input asp-for="datenotify" class="form-control" />
                <span asp-validation-for="datenotify" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="us" class="control-label"></label>
                <input asp-for="us" class="form-control" />
                <span asp-validation-for="us" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datesynptoms" class="control-label"></label>
                <input asp-for="datesynptoms" class="form-control" />
                <span asp-validation-for="datesynptoms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pregnant" class="control-label"></label>
                <input asp-for="pregnant" class="form-control" />
                <span asp-validation-for="pregnant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateinv" class="control-label"></label>
                <input asp-for="dateinv" class="form-control" />
                <span asp-validation-for="dateinv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="occupation" class="control-label"></label>
                <input asp-for="occupation" class="form-control" />
                <span asp-validation-for="occupation" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="fever" /> @Html.DisplayNameFor(model => model.fever)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="myalgia" /> @Html.DisplayNameFor(model => model.myalgia)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="headache" /> @Html.DisplayNameFor(model => model.headache)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="rash" /> @Html.DisplayNameFor(model => model.rash)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="vomit" /> @Html.DisplayNameFor(model => model.vomit)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="nausea" /> @Html.DisplayNameFor(model => model.nausea)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="backPain" /> @Html.DisplayNameFor(model => model.backPain)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="conjunctivitis" /> @Html.DisplayNameFor(model => model.conjunctivitis)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="arthritis" /> @Html.DisplayNameFor(model => model.arthritis)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="severeArthralgia" /> @Html.DisplayNameFor(model => model.severeArthralgia)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="petechiae" /> @Html.DisplayNameFor(model => model.petechiae)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="leukopenia" /> @Html.DisplayNameFor(model => model.leukopenia)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="pTieproof" /> @Html.DisplayNameFor(model => model.pTieproof)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="nTieproof" /> @Html.DisplayNameFor(model => model.nTieproof)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="retroorbitalPain" /> @Html.DisplayNameFor(model => model.retroorbitalPain)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="diabetes" /> @Html.DisplayNameFor(model => model.diabetes)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="hDiseases" /> @Html.DisplayNameFor(model => model.hDiseases)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="liverDiseases" /> @Html.DisplayNameFor(model => model.liverDiseases)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ckDisease" /> @Html.DisplayNameFor(model => model.ckDisease)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="hypertension" /> @Html.DisplayNameFor(model => model.hypertension)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="paDisease" /> @Html.DisplayNameFor(model => model.paDisease)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="aiDisease" /> @Html.DisplayNameFor(model => model.aiDisease)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="cfSerology" /> @Html.DisplayNameFor(model => model.cfSerology)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="cfsCollecting" class="control-label"></label>
                <input asp-for="cfsCollecting" class="form-control" />
                <span asp-validation-for="cfsCollecting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cfsStatus" class="control-label"></label>
                <input asp-for="cfsStatus" class="form-control" />
                <span asp-validation-for="cfsStatus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="csSerology" /> @Html.DisplayNameFor(model => model.csSerology)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="cssCollecting" class="control-label"></label>
                <input asp-for="cssCollecting" class="form-control" />
                <span asp-validation-for="cssCollecting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cssStatus" class="control-label"></label>
                <input asp-for="cssStatus" class="form-control" />
                <span asp-validation-for="cssStatus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="prnt" /> @Html.DisplayNameFor(model => model.prnt)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="prntCollecting" class="control-label"></label>
                <input asp-for="prntCollecting" class="form-control" />
                <span asp-validation-for="prntCollecting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prntStatus" class="control-label"></label>
                <input asp-for="prntStatus" class="form-control" />
                <span asp-validation-for="prntStatus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="dSerology" /> @Html.DisplayNameFor(model => model.dSerology)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="dsCollecting" class="control-label"></label>
                <input asp-for="dsCollecting" class="form-control" />
                <span asp-validation-for="dsCollecting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dsStatus" class="control-label"></label>
                <input asp-for="dsStatus" class="form-control" />
                <span asp-validation-for="dsStatus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ns1" /> @Html.DisplayNameFor(model => model.ns1)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ns1Collecting" class="control-label"></label>
                <input asp-for="ns1Collecting" class="form-control" />
                <span asp-validation-for="ns1Collecting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ns1Status" class="control-label"></label>
                <input asp-for="ns1Status" class="form-control" />
                <span asp-validation-for="ns1Status" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="insulation" /> @Html.DisplayNameFor(model => model.insulation)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="insCollecting" class="control-label"></label>
                <input asp-for="insCollecting" class="form-control" />
                <span asp-validation-for="insCollecting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="insStatus" class="control-label"></label>
                <input asp-for="insStatus" class="form-control" />
                <span asp-validation-for="insStatus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="rtpcr" /> @Html.DisplayNameFor(model => model.rtpcr)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="rtpcrCollecting" class="control-label"></label>
                <input asp-for="rtpcrCollecting" class="form-control" />
                <span asp-validation-for="rtpcrCollecting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rtpcrStatus" class="control-label"></label>
                <input asp-for="rtpcrStatus" class="form-control" />
                <span asp-validation-for="rtpcrStatus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="serotype" /> @Html.DisplayNameFor(model => model.serotype)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="srtSelect" class="control-label"></label>
                <input asp-for="srtSelect" class="form-control" />
                <span asp-validation-for="srtSelect" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="alarmingDengue" /> @Html.DisplayNameFor(model => model.alarmingDengue)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="pHypotension" /> @Html.DisplayNameFor(model => model.pHypotension)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="plateletsFall" /> @Html.DisplayNameFor(model => model.plateletsFall)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="pVomiting" /> @Html.DisplayNameFor(model => model.pVomiting)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="scaPain" /> @Html.DisplayNameFor(model => model.scaPain)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="loIrritability" /> @Html.DisplayNameFor(model => model.loIrritability)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="moBleeding" /> @Html.DisplayNameFor(model => model.moBleeding)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="piHematocrit" /> @Html.DisplayNameFor(model => model.piHematocrit)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="hge2cm" /> @Html.DisplayNameFor(model => model.hge2cm)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="iLiquids" /> @Html.DisplayNameFor(model => model.iLiquids)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="severeDengue" /> @Html.DisplayNameFor(model => model.severeDengue)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="wuPulse" /> @Html.DisplayNameFor(model => model.wuPulse)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="convergentbp" /> @Html.DisplayNameFor(model => model.convergentbp)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="crTime" /> @Html.DisplayNameFor(model => model.crTime)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="afrInsuficiency" /> @Html.DisplayNameFor(model => model.afrInsuficiency)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="tachycardia" /> @Html.DisplayNameFor(model => model.tachycardia)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="cExtremities" /> @Html.DisplayNameFor(model => model.cExtremities)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="lsHypotension" /> @Html.DisplayNameFor(model => model.lsHypotension)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="melena" /> @Html.DisplayNameFor(model => model.melena)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="bMetrorrhagia" /> @Html.DisplayNameFor(model => model.bMetrorrhagia)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="cnsBleeding" /> @Html.DisplayNameFor(model => model.cnsBleeding)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="astalt" /> @Html.DisplayNameFor(model => model.astalt)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="myocarditis" /> @Html.DisplayNameFor(model => model.myocarditis)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="aConciousness" /> @Html.DisplayNameFor(model => model.aConciousness)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="aOrgans" /> @Html.DisplayNameFor(model => model.aOrgans)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="organName" class="control-label"></label>
                <input asp-for="organName" class="form-control" />
                <span asp-validation-for="organName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="patientClass" class="control-label"></label>
                <input asp-for="patientClass" class="form-control" />
                <span asp-validation-for="patientClass" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="recentTravel" /> @Html.DisplayNameFor(model => model.recentTravel)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="travelPlace" class="control-label"></label>
                <input asp-for="travelPlace" class="form-control" />
                <span asp-validation-for="travelPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="goTravel" class="control-label"></label>
                <input asp-for="goTravel" class="form-control" />
                <span asp-validation-for="goTravel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="backTravel" class="control-label"></label>
                <input asp-for="backTravel" class="form-control" />
                <span asp-validation-for="backTravel" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="visitor" /> @Html.DisplayNameFor(model => model.visitor)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="eeArea" class="control-label"></label>
                <input asp-for="eeArea" class="form-control" />
                <span asp-validation-for="eeArea" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="areaKnlg" /> @Html.DisplayNameFor(model => model.areaKnlg)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="pMedication" /> @Html.DisplayNameFor(model => model.pMedication)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="medName" class="control-label"></label>
                <input asp-for="medName" class="form-control" />
                <span asp-validation-for="medName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="pEncaminhation" /> @Html.DisplayNameFor(model => model.pEncaminhation)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ePlace" class="control-label"></label>
                <input asp-for="ePlace" class="form-control" />
                <span asp-validation-for="ePlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="motive" class="control-label"></label>
                <input asp-for="motive" class="form-control" />
                <span asp-validation-for="motive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iName" class="control-label"></label>
                <input asp-for="iName" class="form-control" />
                <span asp-validation-for="iName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iUs" class="control-label"></label>
                <input asp-for="iUs" class="form-control" />
                <span asp-validation-for="iUs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iFunction" class="control-label"></label>
                <input asp-for="iFunction" class="form-control" />
                <span asp-validation-for="iFunction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="nIndex">Voltar à listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
