@model IEnumerable<Sinan.Models.Paciente>

@{
    ViewData["Title"] = "Registros de Pacientes";
}

<h1 class="text-center">Registros de Pacientes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nome
            </th>
            <th>
                Data de nascimento
            </th>
            <th>
                Escolaridade
            </th>
            <th>
                SUS
            </th>
            <th>
                CPF
            </th>
            <th>
                Tipo Sanguíneo
            </th>
            <th>
                Nome da mãe
            </th>
            <th>
                Ancestralidade
            </th>
            <th>
                Sexo
            </th>
            <th>
                Estatura
            </th>
            <th>
                Peso
            </th>
            <th>
                UF
            </th>
            <th>
                Município
            </th>
            <th>
                Bairro
            </th>
            <th>
                Endereço
            </th>
            <th>
                Número
            </th>
            <th>
                Complemento
            </th>
            <th>
                Telefone
            </th>
            <th>
                CEP
            </th>
            <th>
                Zone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @item.Idpacient
                </td>
                <td>
                    @item.name
                </td>
                <td>
                    @item.birthdate.ToShortDateString()
                </td>
                <td>
                    @item.schooling
                </td>
                <td>
                    @item.suscard
                </td>
                <td>
                    @item.cpf
                </td>
                <td>
                    @item.bloodType
                </td>
                <td>
                    @item.momname
                </td>
                <td>
                    @item.ancestry
                </td>
                <td>
                    @item.gender
                </td>
                <td>
                    @item.height
                </td>
                <td>
                    @item.weight
                </td>
                <td>
                    @item.uf
                </td>
                <td>
                    @item.municipality
                </td>
                <td>
                    @item.pneighborhood
                </td>
                <td>
                    @item.address
                </td>
                <td>
                    @item.number
                </td>
                <td>
                    @item.complement
                </td>
                <td>
                    @item.phone
                </td>
                <td>
                    @item.cep
                </td>
                <td>
                    @item.zone
                </td>
                <td class="btn-group-vertical text-center" role="group">
                    @Html.ActionLink("Notificação", "Create", "Notificacoes", new { Idpacient = item.Idpacient, gender = item.gender, birthdate = item.birthdate }, new { @class = "btn btn-secondary" })
                    @Html.ActionLink("Detalhes", "Details", "Pacientes", new { Idpacient = item.Idpacient}, new {@class = "btn btn-secondary"})
                    @Html.ActionLink("Editar", "Edit", "Pacientes", new { Idpacient = item.Idpacient}, new {@class = "btn btn-secondary"})
                    @Html.ActionLink("Excluir", "Delete", "Pacientes", new { Idpacient = item.Idpacient}, new {@class = "btn btn-danger"})
                </td>
        </tr>
}
        <div class="text-end">
            <a class="btn btn-success" asp-action="Create"><strong>➕</strong></a>
        </div>
        <div class="row">
            <form method="get">
                <div class="col-md-2">
                    <input class="form-control" type="date" name="dataNascimento" placeholder="Data de Nascimento" />
                </div>
                <div class="col-md-2">
                    <input class="form-control" type="text" name="nome" placeholder="Nome" />
                </div>
                <div class="col-md-2">
                    <input class="form-control" type="text" name="nomeMae" placeholder="Nome da Mãe" />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                </div>
            </form>
        </div>
    </tbody>
</table>
