@model IEnumerable<Sinan.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="pCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.schooling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.suscard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.momname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ancestry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.municipality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.schooling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.suscard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.momname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ancestry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.municipality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zone)
            </td>
            <td>
                <a asp-action="pEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="pDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="pDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
